.article-five {
    .fix_apple_default_style .list-paddingleft-1 {
        padding-left: 22.5px;
    }

    li {
        list-style-type: style auto;
    }

    ul,
    li {
        list-style-type: disc;
    }

    .js_darkmode__26 {
        width: 100% !important;
    }
}
