.component-developer-article {
    .el-carousel {
        margin-bottom: 18px;
        border-radius: 8px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            // cursor: pointer;
        }

        .el-carousel__indicators {
            right: 0;
            left: auto;
        }

        .el-carousel__indicator {
            .el-carousel__button {
                width: 6px;
                height: 6px;
                border-radius: 50px;
                background-color: rgba($color: #000, $alpha: .5);
            }

            &.is-active {
                .el-carousel__button {
                    background-color: #fff;
                }
            }
        }
    }

    .box-content {
        padding: 0 20px 20px 19px;
        border-radius: 8px;
        background-color: #fff;

        .box-type {
            .type-item {
                margin-right: 44px;
                padding: 14px 0 12px;
                border-bottom: 3px solid #fff;
                color: #7e7e7e;
                font-size: 12px;
                font-weight: 600;
                cursor: pointer;

                &.active {
                    color: #171321;
                    border-bottom: 3px solid #FCA326;
                }
            }
        }

        .item {
            padding: 14px 0 17px;
            border-top: 1px solid #f7f7f7;
            cursor: pointer;

            .content {
                width: 310px;

                .item-title {
                    margin-bottom: 10px;
                    color: #252525;
                    font-size: 14px;
                    font-weight: 600;
                }

                .item-content {
                    margin-bottom: 12px;
                    color: #606060;
                    font-size: 10px;
                }

                .label {
                    display: inline-block;
                    margin-right: 8px;
                    padding: 4px 8px 3px 10px;
                    border-radius: 10px;
                    color: #666666;
                    font-size: 8px;
                    background: #edeff2;
                }
            }

            .cover {
                width: 165px;
                height: 93px;
            }

            .foot {
                margin-top: 16px;
                width: 100%;
                color: #9B9B9B;
                font-size: 10px;

                .avatar {
                    margin-right: 11px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50px;
                }

                .date {
                    margin-left: 10px;
                    padding-left: 10px;
                    line-height: 12px;
                    border-left: 1px solid #9B9B9B;
                }

                .foot-right {
                    color: #9B9B9B;
                    font-size: 12px;
                    line-height: 13px;

                    .look {
                        display: block;
                        margin: 0 5px 2px;
                        width: 15px;
                        height: 9px;
                    }

                    .message {
                        display: block;
                        margin: 0 5px 0 18px;
                        width: 12px;
                        height: 11px;
                    }

                    .like {
                        display: block;
                        margin: 0 5px 2px 18px;
                        width: 11px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .component-developer-article {
        .box-content {
            .box-type {
                .type-item {
                    margin-right: 22px;
                }
            }

            .item {
                .content {
                    width: 100%;

                    .label {
                        margin-bottom: 10px;
                    }
                }

                .cover {
                    width: 100%;
                    height: 190px;
                }
            }
        }
    }
}
