.component-footer {
    padding: 76px 0 43px;
    border-top: 1px solid #f7f7f7;
    background: #fff;

    .footer-content {
        margin-bottom: 34px;
        padding-bottom: 39px;
        border-bottom: 1px solid #f7f7f7;

        .footer-left {
            .footer-item {
                width: 200px;
                font-size: 12px;

                p {
                    margin-bottom: 12px;
                    color: #171321;


                    &.title {
                        margin-bottom: 32px;
                        color: #9B9B9B;
                    }
                }
            }
        }

        .footer-right {
            width: 103px;

            img {
                display: block;
                width: 103px;
                height: 43px;
            }
        }
    }

    .footer-foot {
        .footer-left {
            img {
                width: 22px;
                height: 22px;

                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }

        .footer-right {
            color: #c5c4c7;
            font-size: 12px;
            text-align: right;
            white-space: nowrap;

            p:nth-child(1) {
                margin-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .component-footer {
        padding: 46px 0 43px;

        .footer-content {
            margin-bottom: 25px;
            padding-bottom: 30px;

            .footer-left {
                .footer-item {
                    margin-bottom: 20px;
                    width: 50%;

                    p.title {
                        margin-bottom: 22px;
                    }
                }
            }

            .footer-right {
                width: 100%;
            }
        }

        .footer-foot {
            .footer-left {
                margin-bottom: 20px;
                width: 100%;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .footer-right {
                width: 100%;
                font-size: 10px;
                white-space: pre-wrap;
            }
        }
    }
}
